/*
 * Reset
 */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
a {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: normal;
}
img {
  max-width: 100%;
  height: auto;
}
article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block;
}
/*
 * State
 */
/* Position */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
/* Grid */
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
[class*="col"] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
/* Spaces */
.mr-auto {
  margin-right: auto !important;
}
.mb-1 {
  margin-bottom: 4px !important;
}
.mb-4 {
  margin-bottom: 16px !important;
}
/* Text */
.text-center {
  text-align: center;
}
.h2, h2 {
  font-size: 2rem;
}
/* Background */
.bg-dark {
  background-color: #282c34!important;
}
/* Display */
.d-flex {
  display: flex;
}
.d-flex-inline {
  display: inline-flex;
}
.flex-column {
  flex-direction: column!important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-around {
  justify-content: space-around !important;
}
.align-items-center {
  align-items: center !important;
}
/* Navbar */
.navbar, .navbar-nav {
  display: flex;
}
.navbar {
  display: flex;
  padding: 8px 16px;
}
.navbar .navbar-brand {
  display: inline-block;
  margin-right: 16px;
}
.navbar-nav {
  flex-direction: row;
}
.navbar-nav .nav-link {
  color: #fff;
  padding: 8px;
  display: block;
}
.navbar-nav .active > .nav-link {
  color: #61dafb;
}
/* Nav tabs */
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-tabs {
  margin-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-item {
  display: block;
  padding: .5rem 1rem;
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.nav-tabs .nav-item.active {
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
/* Modules */
.circle {
  background: #fff;
  color: #61dafb;
  border: 1px solid #dee2e6;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-top: 16px;
}
.close {
  float: right;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  cursor: pointer;
}
/* List */
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 12px 20px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}
.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* Button */
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn:focus, .btn:hover {
  text-decoration: none;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}
/* Form */
.form-group {
  margin-bottom: 1rem;
}
.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}
.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: .75rem;
}
.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}
.form-check-label {
  margin-bottom: 0;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
label {
  display: inline-block;
  margin-bottom: 8px;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
/* Table */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
/*
 * Page area
 */
/* Page main */
.page-wrapper {
  position: relative;
  padding: 24px;
  margin-top: 32px;
  border: 3px solid #f7f7f9;
}
.logo-img {
  height: 40vmin;
  pointer-events: none;
}
/* Footer */
.page-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
/*
 * Animation and transition
 */
@media (prefers-reduced-motion: no-preference) {
  .logo-img {
    animation: logo-img-spin infinite 20s linear;
  }
}
@keyframes logo-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
